<section>
    <!-- Intro -->
    
    <div id="intro" class="bg-image vh-100" style="
          background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('assets/1.jpg');
          background-size: cover;
        ">
        
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);">
        
      </div>
      <div class="container maincon1">
        <div class="row intr1">
          <div class="col-12 intr2">
            <div class="row con1">
              <div class="col-6 co1">
                <div class="card" style="width: 18rem; background-color: transparent; backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, .15); color: azure; text-shadow: 1px 1px 2px black;">
                    <img src="assets/2.jpg" height="161px" class="card-img-top" alt="..." >
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button class="btn btn-outline-primary">CheckOut</button>
                  </div>
              </div>
              <div class="col-6 co1">
                <div class="card" style="width: 18rem; background-color: transparent; backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, .15); color: azure; text-shadow: 1px 1px 2px black;">
                    <img src="assets/3.jpg" height="161px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button class="btn btn-outline-danger">CheckOut</button>
                  </div>
              </div>

              <div class="col-6 co1">
                <div class="card" style="width: 18rem; background-color: transparent; backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, .15); color: azure; text-shadow: 1px 1px 2px black;">
                    <img src="assets/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button class="btn btn-outline-warning">CheckOut</button>
                  </div>
              </div>
              <div class="col-6 co1">
                <div class="card" style="width: 18rem; background-color: transparent; backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, .15); color: azure; text-shadow: 1px 1px 2px black;">
                    <img src="assets/5.jpg" height="161px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button class="btn btn-outline-info">CheckOut</button>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Intro -->
    
  </section>
  <!--Section: Design Block-->