<section>
    <!-- Intro -->
    
    <div id="intro" class="bg-image vh-100" style="
          background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('assets/1.jpg');
          background-size: cover;
        ">
        
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);">
        
      </div>
      <div class="container maincon">
        <div class="row intr">
          <div class="col-12 intr1">
            <div class="con">
              <h1 >Welcome To Complete Java Classes</h1>
              <p> To provide candidates with knowledge that is at-par with the IT industry, but also in a pocket friendly way so that everyone can take benefit of our courses.</p>
              <button class="btn btn-primary">Enroll Now</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Intro -->
    
  </section>
  <!--Section: Design Block-->